header{
    font-size: 200%;
}
body{
    text-align: center;
    background-color: #FFB6c1;
}
nav {
    text-align: center;
    margin-top: 10px;
}  
.navbar{
    background-color: rgb(184, 106, 106);
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: 500;
    overflow: hidden;
    
}

.navbar a:hover{
    background-color: rgb(48, 161, 189);
}
.navbar a{
    position: relative;
    color: rgb(199, 191, 191);
    padding: 14px 15px;
    margin: 0 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition:all 0.5s ease;
}
li{
    float: left;
}
label{
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button{
    padding: 14px 15px;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: #2e82a3;
}
.button:active {
    background-color: #3e778e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
