body{
    background-color: #FFB6c1;
}
nav {
    text-align: left;
}
ul {
    list-style-type: none;
}  
.navbar{
    background-color: rgb(3, 88, 88);
    position: relative;
    color: blueviolet;
    font-weight: 400;

    display: inline;
}

.navbar a:hover{
    background-color: aquamarine;
    color:blue;
}
.navbar a{
    
    color: rgb(92, 41, 160);
    background-color: blueviolet;
    padding: 15px;
    display: inline;
    text-align: center;

}
li{
    display: inline;
}